<div ng-include="'app/view/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <div class="row text-center">
                    <h3>Circuits used in current season</h3>
                </div>
                <div class="row">
                    <div class="table-responsive body-font">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Circuit Name</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="circuit in circuitList">
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <img ng-src="app/img/flags/{{circuit.Location.country}}.png" /> {{circuit.circuitName}}
                                    </td>
                                    <td>{{circuit.Location.locality}},&nbsp;{{circuit.Location.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>