<div ng-include="'app/view/header.html'"></div>
<section class="segment">
    <div class="container">
        <div class="row text-center">
            <h1>Formula 1 Teams</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="team in constructorList">
                <div class="card">
                    <div class="content">
                        <!--<img ng-src="{{news.thumbnail}}">-->
                        <div class="content-wrap">
                            <h5>{{team.name}}</h5>
                            <!--<p>{{}}</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>