<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th colspan="4">Constructor Standings</th>
			</tr>
            <tr>
                <th>No</th>
                <th>Constructor Name</th>
                <th>Points</th>
                <th>Wins</th>
            </tr>
		</thead>
		<tbody>
			<tr ng-repeat="constructor in constructorList">
				<td>{{$index + 1}}</td>
				<td>
					<img ng-src="img/flags/{{constructor.Constructor.nationality}}.png" /> {{constructor.Constructor.name}}
				</td>
				<td>{{constructor.points}}</td>
                <td>{{constructor.wins}}</td>
			</tr>
		</tbody>
	</table>
</div>