<main class="homePage">
    <!--NEWS-->
    <section class="segment">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img ng-src="http://dummyimage.com/480x320&text=Profile+Pic">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">Name : </div>
                    <div class="row">Nationality : </div>
                    <div class="row">DOB : </div>
                    <div class="row">Car : </div>
                    <div class="row">Wins this Season : </div>
                    <div class="row">Points this Season : </div>
                </div>
            </div>
        </div>
    </section>
    <section class="segment">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                <img ng-src="http://dummyimage.com/480x320&text=Graph">
                </div>
                <div class="col-xs-12 col-sm-6"></div>
            </div>
        </div>
    </section>
</main>