<div class="container">
    <div class="row">
        <select ng-model="seasonSelect" ng-change="seasonSelection(seasonSelect)">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
        </select>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="module">
                <div class="row text-center">
                    <h3>Driver Standings</h3>
                </div>
                <div class="row">
                    <div class="table-responsive body-font">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Driver Name</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="driver in driverList">
                                    <td>{{$index + 1}}</td>
                                    <td>{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</td>
                                    <td>{{driver.points}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>