<main class="homePage">
    <section class="segment">
        <div class="container loader">
            <div class="loading" ng-show="displayLoading">
                <i class="fa fa-cog fa-spin fa-3x fa-fw loading-image"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img ng-src="http://dummyimage.com/480x320&text=Profile+Pic">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">Name :</div>
                        <div class="col-sm-6">{{driverInfo.givenName}}&nbsp;{{driverInfo.familyName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Nationality :</div>
                        <div class="col-sm-6">{{driverInfo.nationality}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">DOB :</div>
                        <div class="col-sm-6">{{driverInfo.dateOfBirth}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Car :</div>
                        <div class="col-sm-6">{{driverStanding.Constructors[0].name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Wins this Season :</div>
                        <div class="col-sm-6">{{driverStanding.wins}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Points this Season :</div>
                        <div class="col-sm-6">{{driverStanding.points}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="segment">
        <div class="container">
            <div class="row text-center">
                <h1>CURRENT FORM</h1></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <hc-chart options="chartOptions" theme="chartTheme" style="display:block" ng-if="displayDriverStatus"></hc-chart>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row text-center">
                        <h3>{{driverResults.season}} Season</h3>
                    </div>
                    <div class="row" ng-hide="displayLoading">
                        <div class="table-responsive body-font">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Race Name</th>
                                        <th>Position</th>
                                        <th>Laps</th>
                                        <th>Grid</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="driver in driverResults.Races">
                                        <td>{{driver.raceName}}</td>
                                        <td>{{driver.Results[0].position}}</td>
                                        <td>{{driver.Results[0].laps}}</td>
                                        <td>{{driver.Results[0].grid}}</td>
                                        <td>{{driver.time}}</td>
                                        <td>{{driver.Results[0].status}}</td>
                                        <td>{{driver.Results[0].points}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>