<nav class="navbar navbar-inverse navbar-static-top" ng-controller="NavBarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"> 
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="#">F1 Frenzy</a>
        </div>
        <div class="navbar-collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a href="#">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="driverList">Drivers</a></li>
                <li ui-sref-active="active"><a ui-sref="constructorList">Constructors</a></li>
                <li ui-sref-active="active"><a ui-sref="circuitList">Circuits</a></li>
                <li ui-sref-active="active"><a ui-sref="scheduleDetails">Schedule</a></li>
                <li ui-sref-active="active"><a ui-sref="resultDetails">Results</a></li>
            </ul>
        </div>
    </div>
</nav>