<main class="homePage">
    <!--Hero Image-->
    <section class="hero-unit img-responsive">
        <div ng-include="'view/header.html'"></div>
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                    <h1>EXPLORE</h1>
                    <p>THE LATEST F1 DATA..</p>
                </div>
            </div>
        </div>
    </section>
    <!--NEWS-->
    <section class="segment">
        <div class="container">
            <div class="row text-center">
                <h1>NEWS</h1></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="card in newsCards">
                    <div class="card" ng-style="{'background-image': 'url(' + card.thumbnail + ')'}">
                        <div class="row"><h4>{{card.title}}</h4></div>
                        <div class="row"><p>{{card.content}}</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Standings-->
    <section class="segment">
        <div class="container">
            <div class="row text-center">
                <h1>STANDINGS</h1></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="well">
                        <div class="row text-center">
                            <h3>Driver Standings</h3>
                        </div>
                        <div class="row">
                            <div class="table-responsive body-font">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Driver Name</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="driver in driverList.DriverStandings">
                                            <td>{{$index + 1}}</td>
                                            <td>{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</td>
                                            <td>{{driver.points}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row text-center"><a href="#">See Full Driver Standings</a></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="well">
                        <div class="row text-center">
                            <h3>Constructor Standings</h3></div>
                        <div class="row">
                            <div class="table-responsive body-font">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Constructor</th>
                                            <th>Points</th>
                                            <th>Wins</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="constructor in constructorList">
                                            <td>{{$index + 1}}</td>
                                            <td>{{constructor.Constructor.name}}</td>
                                            <td>{{constructor.points}}</td>
                                            <td>{{constructor.wins}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row text-center"><a href="#">See Full Constructor Standings</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>