<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th colspan="4">Schedule for the current season</th>
			</tr>
            <tr>
                <th>Round</th>
                <th>Race Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Circuit</th>
                <th>Location</th>
            </tr>
		</thead>
		<tbody>
			<tr ng-repeat="schedule in scheduleDetails">
				<td>{{schedule.round}}</td>
				<td>{{schedule.raceName}}</td>
                <td>{{schedule.date}}</td>
                <td>{{schedule.time}}</td>
                <td>{{schedule.Circuit.circuitName}}</td>
				<td>{{schedule.Circuit.Location.locality}},&nbsp;{{schedule.Circuit.Location.country}}</td>
			</tr>
		</tbody>
	</table>
</div>