body {
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #000;
}

h1 {
    margin-bottom: 21px;
}

a {
    color: red;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

.head-font,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.homePage {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero-unit {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), url(/app/img/a.jpg);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-unit h1 {
    font-size: 10vw;
    font-family: 'Montserrat Alternates', sans-serif;
}

.hero-unit h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4vw;
}

.hero-unit> .container {
    padding: 150px 0px;
}

.divider {
    width: 40px;
    height: 2px;
    padding: 0;
    border: none;
    margin: 27px auto 34px;
    background: -webkit-linear-gradient(90deg, #d01919 0%, #a31111 100%);
    background: -o-linear-gradient(90deg, #d01919 0%, #a31111 100%);
    background: -ms-linear-gradient(90deg, #d01919 0%, #a31111 100%);
    background: linear-gradient(90deg, #d01919 0%, #a31111 100%);
}

.well {
    border: none;
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.2);
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    background-color: white;
    color: black;
    transition: all 0.33s ease-out;
}

.card .content {
    z-index: 2;
    position: relative;
    transition: all 0.5s ease-out;
}

.card .content> img {
    height: auto;
    width: 100%;
    border-bottom: solid 4px red;
}

.card .content .content-wrap {
    padding: 18px;
    overflow: hidden;
    height: 180px;
}

.segment {
    padding: 90px 0;
}

.button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    border: 0 solid transparent;
    background: transparent;
    text-transform: uppercase;
    border-radius: 0;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.button-primary {
    color: #000000;
    background-color: #ffff00;
    border-color: #ffff00;
}

.button-primary:hover {
    color: #ffffff;
    background-color: #d81515;
    border-color: #d81515;
}

.dropDownWrapper {
    margin: 10px;
    border-bottom: solid 2px red;
}

.dropDownWrapper .dropDownValue {
    display: inline-block;
}

.dropDownWrapper .dropdownList {
    color: red;
    min-width: 100%;
    height: 250px;
    overflow-y: scroll;
    background: #000000;
}

.dropDownWrapper .dropdownList> li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.navbar-inverse .navbar-nav> li> a {
    margin: 1px;
    color: #ffffff;
    transition: color 0.5s ease-in;
}

.navbar-inverse .navbar-nav> li> a:hover,
.navbar-inverse .navbar-nav> .active> a,
.navbar-inverse .navbar-nav> .active> a:hover,
.navbar-inverse .navbar-nav> .open> a,
.navbar-inverse .navbar-nav> .open> a:focus,
.navbar-inverse .navbar-nav> .open> a:hover {
    color: red;
    background: rgba(0, 0, 0, 0);
    border-bottom: solid 2px red;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a {
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse .navbar-nav li> a .glyphicon {
    padding-left: 2px;
}

.loader {
    position: relative;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin: 0 auto;
}

.loading-image {
    position: absolute;
    left: 50%;
}