<div ng-include="'views/header.html'"></div>
<section class="segment">
    <div class="container">
        <div class="row text-center">
            <h1>Formula 1 Drivers</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="driver in driverList">
                <div class="card">
                    <div class="content">
                        <!--<img ng-src="{{news.thumbnail}}">-->
                        <div class="content-wrap">
                            <p>{{driver.permanentNumber}}</p>
                            <a ui-sref="driverInfo({'driverId':driver.driverId})"><h5>{{driver.givenName}}&nbsp;{{driver.familyName}}</h5></a>
                            <!--<p>{{}}</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="spinner-overlay" ng-show="displayLoading">
    <div class="spinner-area">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>