<div ng-include="'views/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <div class="row text-center">
                    <h3>Schedule for the current season</h3>
                </div>
                <div class="row">
                    <div class="table-responsive body-font">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Round</th>
                                    <th>Race Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Circuit</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="schedule in scheduleDetails">
                                    <td>{{schedule.round}}</td>
                                    <td>{{schedule.raceName}}</td>
                                    <td>{{schedule.date}}</td>
                                    <td>{{schedule.time}}</td>
                                    <td>{{schedule.Circuit.circuitName}}</td>
                                    <td>{{schedule.Circuit.Location.locality}},&nbsp;{{schedule.Circuit.Location.country}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner-overlay" ng-show="displayLoading">
    <div class="spinner-area">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>