<div ng-include="'views/header.html'"></div>
<section class="segment">
    <div class="row text-center">
        <h1>Season Standings</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div uib-dropdown class="dropDownWrapper" on-toggle="isSeasonOpen = !isSeasonOpen">
                    <div uib-dropdown-toggle>
                        <div class="dropDownValue">
                            {{selectedSeason}}
                        </div>
                        <span ng-hide="isSeasonOpen" class="glyphicon glyphicon-chevron-down" style="float:right"></span>
                        <span ng-show="isSeasonOpen" class="glyphicon glyphicon-chevron-up" style="float:right"></span>
                    </div>
                    <ul class="dropdownList" uib-dropdown-menu>
                        <li ng-repeat="season in seasonList" ng-click="changeSeason(season.season)">{{season.season}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div uib-dropdown class="dropDownWrapper" on-toggle="isRaceOpen = !isRaceOpen">
                    <div uib-dropdown-toggle>
                        <div class="dropDownValue">
                            {{selectedRace.name}}
                        </div>
                        <span ng-hide="isRaceOpen" class="glyphicon glyphicon-chevron-down" style="float:right"></span>
                        <span ng-show="isRaceOpen" class="glyphicon glyphicon-chevron-up" style="float:right"></span>
                    </div>
                    <ul class="dropdownList" uib-dropdown-menu>
                        <li ng-repeat="race in raceList" ng-click="changeRace(race)">{{race.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            {{selectedSeason}} {{selectedRace.name}}
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <ul>
                    <li ng-if="displayRaceDetails"><a ui-sref="seasonStanding.raceDetails({season : selectedSeason, raceId:selectedRace.round,raceName:selectedRace.name})">Race Details</a></li>
                    <li ng-if="displayPitDetails"><a ui-sref="seasonStanding.pitDetails({season : selectedSeason, raceId:selectedRace.round,raceName:selectedRace.name})">Pit Stop Summary</a></li>
                    <li ng-if="displayQualifyingDetails"><a ui-sref="seasonStanding.qualifyDetails({season : selectedSeason, raceId:selectedRace.round,raceName:selectedRace.name})">Qualifying</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-9">
                <div ui-view></div>
            </div>
        </div>
    </div>
</section>
<div class="spinner-overlay" ng-show="common.displayLoading">
    <div class="spinner-area">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>